.description {
    background-color: #f5f5ef;
    
}

.avatar {
    padding-top: 24px ;
    border-radius: 50%;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.name {
    margin: 0;
    padding-top: 24px ;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.tag {
    margin: 0;
    padding-top: 12px ;
    font-size: 16px;
    text-align: center;
    color: #d6d6c2;
}

.location {
    margin: 0;
    padding-top: 12px ;
    padding-bottom: 24px;
    font-size: 24px;
    text-align: center;
    color: #d6d6c2;
}